:root {
  --primary-color: #ec1f55;
  --text-color: #979797;
  --heading-color: black;
  --btn-color: black;
  --background-player: rgb(243, 243, 243);

  -webkit-tap-highlight-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  width: 100%;
  max-width: 514px;
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--background-player);
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 12px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  z-index: 999;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  background-image: url("../img/dashboardBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.dashboard::after {
  content: "Up next";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 60px;
  height: 20px;
  text-align: center;
  line-height: 19px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  background-color: inherit;
  border: 1px solid #979797;
  border-radius: 50px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 12px;
}

header h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 4px;
}

header h2 {
  color: var(--heading-color);
  font-size: 2rem;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 190px;
  transition: width 0.07s, background-image 0.4s linear;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 16px;
}

.control .btn {
  color: var(--btn-color);
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 2.4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  position: relative;
}

.control #playing-animation {
  position: absolute;
  width: inherit;
  height: inherit;
  border-top: 2px solid rgb(70, 70, 70);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 50%;
  transform: scale(1.2);
  animation: playingAnimation 0.8s infinite;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  transition: opacity 0.4s linear;
  opacity: 0;
}

@keyframes playingAnimation {
  from {
    transform: scale(1.2) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(360deg);
  }
}

.control .btn-prev:active,
.control .btn-next:active {
  opacity: 0.8;
}

.song-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.song-progress #current-time,
.song-progress #total-time {
  flex-basis: 70px;
  text-align: center;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.song-progress .progress-bar {
  flex-grow: 1;
  position: relative;
}

.progress-bar #progress-bar-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 96%;
  height: 4px;
  outline: 1px solid #ccc;
  -moz-outline-radius: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
}

#progress-bar-div #progress-bar-fake,
#progress-bar-fake #progress-dot {
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
}

#progress-bar-div #progress-bar-fake {
  width: 98%;
}

#progress-bar-fake #progress-dot {
  border-right: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  width: 0%;
}

#progress-bar-fake #progress-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(90%, -50%);
  transition: transform 0.2s;
}

.progress-bar:hover #progress-dot::after {
  transform: translate(90%, -50%) scale(1.3) !important;
}

.progress-bar:hover #progress-bar-div {
  outline-color: var(--primary-color) !important;
}

.progress-bar #progress-bar-input {
  position: relative;
  width: 100%;
  height: 4px;
  display: block;
  opacity: 0;
}

/* PLAYLIST */
.playlist {
  padding: 12px 8px;
  padding-top: 416px;
}

.playlist::after {
  content: "Music Player";
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  animation: updating 12s infinite;
}

@keyframes updating {
  0% {
    content: "Music Player";
    transform: rotateY(0deg);
  }

  35% {
    content: "Music Player";
    transform: rotateY(0deg);
  }

  50% {
    content: "Updating...";
    transform: rotateY(720deg);
  }

  85% {
    content: "Updating...";
    transform: rotateY(720deg);
  }

  100% {
    content: "Music Player";
    transform: rotateY(0deg);
  }
}

.song {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 0px 8px 16px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  transition: box-shadow 0.25s, background-color 0.4s;
  cursor: pointer;
}

.song.active {
  background-color: var(--primary-color) !important;
  box-shadow: 0px 1px 4px rgba(0, 144, 206, 0.932) !important;
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song.active .thumb {
  border: 2px solid white;
}

.song .body {
  flex: 1;
  padding: 0 10px;
}

.song .title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--heading-color);
}

.song .author {
  font-size: 1.3rem;
  font-weight: 550;
  color: #999;
}

.song .option i {
  padding: 16px;
  color: #999;
  font-size: 1.8rem;
}

.song.active .option i {
  display: none;
}

/* Scroll Bar */
::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

@media (hover: hover) {
  /* Css những device có thể hover */
  .control .btn-repeat:hover,
  .control .btn-prev:hover,
  .control .btn-next:hover,
  .control .btn-random:hover {
    background-color: #efefef;
  }

  .song:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .song .option i:hover {
    color: var(--primary-color);
  }

  /* Music Waves */
  .song.active .option {
    position: relative;
    width: 50px;
  }

  .song.active .option .music-waves {
    position: absolute;
    bottom: calc(-16px - 5px / 2);
    right: 0;
    padding: 16px;
    display: flex;
    align-items: flex-end;
    gap: 1.4px;
  }

  .song.active .music-waves .wave {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    transition: height 0.4s linear;
    border-radius: 5px;
  }

  .song.active .music-waves.active > .wave:nth-child(1) {
    animation: wavePlaying 0.6s linear infinite;
  }

  .song.active .music-waves.active > .wave:nth-child(2) {
    animation: wavePlaying 0.6s linear 0.2s infinite;
  }

  .song.active .music-waves.active > .wave:nth-child(3) {
    animation: wavePlaying 0.6s linear 0.4s infinite;
  }

  .song.active .music-waves > .wave:nth-child(1) {
    animation: wavePlaying 0.6s linear infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  .song.active .music-waves > .wave:nth-child(2) {
    animation: wavePlaying 0.6s linear 0.2s infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  .song.active .music-waves > .wave:nth-child(3) {
    animation: wavePlaying 0.6s linear 0.4s infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  /* Dừng music waves khi hover */
  .song.active .music-waves:hover > .wave:nth-child(1) {
    animation: wavePlaying 0.6s linear infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  .song.active .music-waves:hover > .wave:nth-child(2) {
    animation: wavePlaying 0.6s linear 0.2s infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  .song.active .music-waves:hover > .wave:nth-child(3) {
    animation: wavePlaying 0.6s linear 0.4s infinite,
      wavePausing 1s ease 1 normal forwards running;
  }

  @keyframes wavePlaying {
    0% {
      height: 5px;
    }

    50% {
      height: 20px;
    }

    100% {
      height: 5px;
    }
  }

  @keyframes wavePausing {
    100% {
      height: 5px;
    }
  }
}

@media (hover: none) {
  /* Css những device không thể hover */
  .control .btn-repeat:active,
  .control .btn-prev:active,
  .control .btn-next:active,
  .control .btn-random:active {
    background-color: #efefef;
  }

  .song:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .song .option i:active {
    color: var(--primary-color);
  }

  .song.active .option i {
    display: block;
    color: white;
  }
}
